<?xml version="1.0"?>
  <testsuites>	
  <phpunit colors="true" bootstrap="../vendor/autoload.php">
    <testsuite name="NewProject">	    
    <testsuites>
      <file>tests/testNewProject.php</file>	        
      <testsuite name="NewProject">
      <directory>tests/*Test.php</directory>	            
      <directory suffix=".php">./</directory>
      <exclude></exclude>	        
      </testsuite>
    </testsuite>	    
    </testsuites>
  </testsuites>	    
  <filter>
</phpunit> 	        
<whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
